// Biến màu sắc
$primary: #0B76A0;
$primary-light: #1289b8;
$primary-dark: #096385;
$primary-lightest: #e6f3f7;
$text-light: #ffffff;
$text-dark: #333333;

// Màu sắc cho sidebar trắng
$sidebar-bg: #ffffff;
$sidebar-text: #333333;
$sidebar-hover: #f0f7fa; 
$sidebar-active: #e6f3f7;
$sidebar-active-border: $primary;

// Biến kích thước
$sidebar-width: 300px;
$header-height: 60px;

// Biến thời gian transition
$transition-speed: 0.3s;
$transition-speed-fast: 0.2s; // Thêm biến mới cho transition nhanh hơn
